* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/01matematicas-2.jpg);
    /* background-repeat: no-repeat; */
    

}

.titulo-calculadora {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    color: rgb(36, 35, 31);
    

}

.sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-top: 1px solid blue;
    border-radius: 5px;
    height: 100%;
    
}

/* p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
} */

.resultado {
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid red;
    border-left: 0px ;
    border-top: 0px ;
    
    width: 60%;
    height: 18px;
    padding: 3px 4px 3px 4px;
    margin-top: 18px;

}

input {
    width: 65%;
    height: 18px;
    border: none;
    padding: 3px 4px 3px 6px;
    box-shadow: 2px 3px 6px gray;
    border-radius: 4px;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: 2px 3px 6px rgb(48, 143, 233);
}




.label {
    display: flex;
    flex-direction: column;
    margin: 4px;
}
.contenedor-inputs {
    display: flex;
    flex-direction: row;
    
}

.acciones-calculadora {
    display: flex;
    flex-direction: column;
    margin: 35px;
}

.container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px rgb(11, 61, 226);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    width: 45%;
    height: 35%;
    
}

.btn {
    margin: 5px;
    padding: 3px 6px 3px 6px;
}



